<header>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <a><img src="../../../assets/logo.png" alt="" /></a>
    </div>
    <div class="col-1"></div>
    <div class="col-5 anuncios">
      <a href="">
        <span class="material-symbols-outlined"> shopping_bag </span>
        Alguma coisa
      </a>

      <a href="">
        <span class="material-symbols-outlined"> monitoring </span>
        Meus Anúncios
      </a>

      <a href="">
        <span class="material-symbols-outlined"> chat </span>
        Chat
      </a>

      <a href="">
        <span class="material-symbols-outlined"> notifications </span>
        Notificações
      </a>
    </div>
    <div class="col-2 botoes">
      <button class="btn btn-outline-primary btn-sm">Entrar</button>

      <button class="btn btn-warning btn-sm">Anuciar</button>
    </div>
  </div>
  <div class="col-1"></div>
</header>
<hr />
